<div class="pt-5"></div>
<div class="mt-5 title">
    <h5 class="font-weight-light">Sobre</h5>
</div>
<hr>
<div class="about-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorem iure soluta a tempore nobis accusamus, labore,
        facere voluptatibus nisi eum distinctio voluptate porro, mollitia expedita aut. Dolorem, debitis labore. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Nobis iure quos odio tenetur quidem laboriosam error sed quam
        accusantium, quo voluptate sunt tempore quisquam dignissimos similique saepe ut, quas totam neque debitis eveniet
        quod aspernatur quae non. Aspernatur, voluptate voluptatem explicabo neque tempora aut dolor non libero vel
        accusantium dolorem?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ullam eum! A veritatis unde nisi adipisci autem non
        dolorem sint praesentium incidunt, id modi iste vel voluptatem distinctio illum repudiandae? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Itaque laboriosam quaerat beatae dolorum cumque explicabo vitae necessitatibus
        quia magnam at?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quidem voluptatum doloremque eos! Nulla laborum
        vitae atque, in et earum provident tenetur repudiandae porro, commodi quod, dolorem aliquam totam velit non nihil
        animi voluptate fugiat recusandae. Recusandae quas dolore quibusdam autem. Quis nemo beatae consequatur quibusdam
        voluptates, magnam quae totam, pariatur aperiam non veritatis placeat, quidem debitis nihil consectetur quo. Modi
        distinctio totam voluptate corrupti porro alias facilis ratione deserunt aliquam ex, voluptatum quasi repellat
        libero, quidem velit accusamus error exercitationem ullam, officiis officia perferendis commodi. Suscipit quia
        dignissimos accusantium cum ullam fugiat! Qui delectus sunt alias dolorem, non veritatis doloremque temporibus ea
        sint autem nisi expedita adipisci, explicabo ut natus aspernatur veniam possimus officiis consectetur omnis tempora
        beatae.
    </p>
    <p>
        Adipisci vel facere quo, ad voluptas, veniam sint cupiditate iure unde natus facilis! Minima ipsam dolorem
        rem provident dolorum blanditiis distinctio hic, fugit, repellat, architecto eveniet et aspernatur necessitatibus
        deserunt consectetur inventore voluptatibus maiores! Reiciendis at consequatur facere quaerat quae cum inventore!
        Eaque tempore quaerat rerum ipsam, minima aspernatur ea provident vero in nulla voluptatem fugiat assumenda
        doloribus quo hic maiores commodi sequi vel laudantium asperiores dolores deserunt cumque labore? Corrupti,
        reiciendis aperiam facere in inventore recusandae minus impedit totam explicabo eos saepe magnam, alias consectetur
        non? Ipsum incidunt quam at tenetur error dolor, quia voluptatibus vel accusamus quibusdam debitis sequi officiis
        adipisci? Soluta quam delectus obcaecati quibusdam error, magnam ipsam in quisquam doloremque veniam temporibus
        nihil eaque deleniti!</p>
</div>