<div class="pt-5 mt-5">
</div>
<div class="title-manager col-5 p-0"
    style="display: flex; flex-direction: row; align-items: center; align-content: center">
    Admin > <h6 class="text-title" style="color: #2b7cce !important;">Gerenciar de Categorias</h6>
</div>
<div ng-cloack>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">list </i> Listar
            </ng-template>

            <div>
                <table class="table table-hover overflow-scroll">
                    <thead class="bg-t-th-light-blue">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categoria/Gênero</th>
                            <th scope="colgroup" colspan="2" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let category of categories">
                        <tr>
                            <th scope="row">{{category.id}}</th>
                            <td>{{category.genre}}</td>
                            <td class="text-center"><a class="btn text-primary "
                                    routerLink="/admin/update/{{category?.id}}/category">Editar</a></td>
                            <td class="text-center"><button class="btn text-danger"
                                    (click)="onDelete(category?.id)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>ß
        <mat-tab label="Sistema">
            <ng-template mat-tab-label>
                <i class="material-icons">add_box </i> Adicionar
            </ng-template>
            <app-category-form></app-category-form>
        </mat-tab>
        <mat-tab label="Third">
            <ng-template mat-tab-label>
                <i class="material-icons"> info </i> Mais...
            </ng-template> </mat-tab>
    </mat-tab-group>
</div>