<div class="pt-5 mt-5">
</div>
<div class="col-5 p-0" class="all-books">
  <h2 class="title-manager" style="color: red;">{{admin}}<mat-icon class="mat-18">manage_accounts</mat-icon><b
      style="color: rgb(195, 195, 195);">/Categoria</b></h2>
</div>
<hr class="mt-2">
<!-- <div ng-cloack> -->
<div>
  <mat-tab-group dynamicHeight="true">
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label">
        <a routerLink="/admin/category" routerLinkActive="selected"><mat-icon class="mat-18">
          home</mat-icon></a>
      </ng-template>
      <!-- <h1>Categoria</h1> -->
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="list"><i class="material-icons">list</i></a>
      </ng-template>
    </mat-tab>
    <mat-tab label="Sistema">
      <ng-template mat-tab-label>
        <a routerLink="create"><i class="material-icons">add </i></a>
      </ng-template>
      <!-- <app-category-form></app-category-form> -->
    </mat-tab>
    <mat-tab label="Third">
      <ng-template mat-tab-label>
        <a href="#"><i class="material-icons"> info </i></a>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>
