.row .author-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #f6f2f1b8;
}
.card-imgUrl{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #f6f2f1b8;
}

.row .book-card {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #f6f2f1b8;
}


.row .card-short_summary {
    border-radius: 0;
    background-color: #f6f2f1b8;
}
.row .card-long_summary {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #f6f2f1b8;
}