<div class="pt-5"></div>
<div class="container mt-5 mb-5">
    <div class="card mb-3 p-2">
        <div class="row g-3">
            <div class="col-md-12">
                <h4 class="card-title text-center p-2">Adicionar Autor</h4>
            </div>
        </div>
    </div>
    <div class="pt-0 pb-5">
        <div class="col-md-12">
            <form class="form pt-3 pb-2" (ngSubmit)="onSubmit()">
                <div class="row pt-0 pl-3 pr-3 form-group">
                    <div class="col-md-12">
                        <label for="name" class="form-label">Nome do Autor</label>
                        <input type="text" id="name" name="name" [(ngModel)]="author.name" class="form-control" placeholder="Ex: Artur Carlos Maurício Pestana dos Santos aka Pepetela" required>
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="birthday" class="form-label">Data de Nascimento/Ano</label>
                        <input type="text" name="birthday" id="birthday" [(ngModel)]="author.birthday" class="form-control" placeholder="Ex: 'Outubro 29, 1941' / '1941'">
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="nationality" class="form-label">Nacionalidade</label>
                        <input type="text" name="nationality" id="nationality" [(ngModel)]="author.nationality" class="form-control" placeholder="Ex: Angolana / Angonalan">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="status" class="form-label">Status do Autor</label>
                        <textarea name="status" id="status" rows="2" class="form-control" maxlength="200" minlength="20" placeholder="Ex: Pepetela é um autor da literatura contemporânea angolanas... "></textarea>
                    </div>
                </div>
                <div class="col-md-12 mt-1  d-flex justify-content-end pb-3">
                    <button type="submit" class="btn btn-success">Salvar Autor</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="margin-form_b"></div>