.background {
  position:relative;
  background-color: hsla(0, 0%, 0%, 0.025);
  width: 100%;
  height: 70vh;

  top: 11px;

  margin: auto;
  padding: 60px 20px 20px 20px;

  border-radius: 5px;

  border: 1px solid #1e72c730;
}
.header {
  background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
  background: linear-gradient(to right, #0d355e, #1e72c7);
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  color: white;
  padding: 10px;
  margin: 1.3px auto;
  height: auto;
  width: 40%;
}

.login {
  background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
  background: linear-gradient(to right, #0d355e, #1e72c7);
  border-radius: 10px;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  color: white;
  height: auto;
  width: 40%;
  margin: 0 auto;

}

.header-icon {
  padding-bottom: 20px;
  margin: 0 auto;
}

.footer-icon {
  margin: 0 auto;
}

.mat-18 {
  font-size: 48px;
  margin: 0;
}

.form-login {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.title-header {
  background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
  background: linear-gradient(to right, #0d355e, #1e72c7);
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;

  padding: 5px;
  margin: 10px auto;
  height: auto;
  width: auto;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100 !important;
  font-size: 1.5rem;
  text-align: center;
  color: aliceblue !important;
  letter-spacing: 2px;

}

.form-login mat-icon {
  margin: 0 5px 0 0 !important;
}

::placeholder {
  color: rgb(173, 173, 173);
}
.footer{
  width: 40% !important;
}
::ng-deep .mat-form-field {

  .mat-input-element {
    color: slategray;
    padding: 5px 5px;
    background-color: #99adc11b !important;
    width: 97.5%;
    border-radius: 1px;

  }

  .mat-form-field-label {
    color: rgb(178, 191, 204);
    padding: 5px;
  }

  .mat-form-field-underline {
    background-color: slategray;
  }

  .mat-form-field-focused {
    background-color: slategray;
  }

  .mat-form-field-ripple {
    background-color: slategray;
  }

  .mat-form-field-required-marker {
    color: red;
    font-size: large;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
    font-size: large;
  }

  .mat-form-field-ripple {
    background-color: white;
  }

  .mat-form-field-required-marker {
    color: red;
    font-size: 20px;
  }

  ::ng-deep .mat-input-element {
    color: white;
  }
}

::ng-deep .mat-raised-button {
  letter-spacing: 2px;
  background-color: green;
  color: white;

  transition: all .4s ease-in-out;
}

::ng-deep .mat-raised-button:hover {
  background-color: rgb(0, 155, 0);
  transition: all .4s ease-in-out;

}

.footer {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;

  background-color: #11477d;

  border-radius: 5px;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 0%;

  padding: 24px 10px !important;
  margin: 2px auto;
  height: auto;
  width: 50%;


  text-decoration: none;

  transition: all .4s ease-in-out !important;

}

.footer:hover {
  background-color: #155494;
  transition: all .4s ease-in-out !important;
}

@media screen and (max-width: 868px) {
  .background {
    position:sticky;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 0 auto;
    top: 0;

    padding: 0;

    border-radius: 0;
    border: none;

  }
  .header {
    display: none !important;
    width: 100%;
  }
  .title-header {
    padding: 5px 10px;
    font-size: 1.5rem;
    margin: 15px auto 25px auto;
    border: .1px solid rgba(215, 242, 255, 0.251);

  }
  .login {
    margin-top: 50px;
    width: 100%;

    border: 1px solid whitesmoke;
  }
  .mat-input-element {
    color: slategray;
    padding: 4px 5px 4px 10px;
    background-color: #99adc11b !important;
    width: 94%;
    border-radius: 2px;

  }
  .footer {
    width: 100% !important;
    padding: 10px 10px !important;
  }
}
