.header {
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    border-radius: 50px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color: white;
    padding: 20px;
    margin: 10px auto;
    height: auto;
    width: 50%;
}
.login {
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    border-radius: 50px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    color: white;
    height: auto;
    width: 50%;
    margin: 0 auto;
}

.header-icon {
    padding-bottom: 20px;
    margin: 0 auto;
}
.footer-icon {

    margin: 0 auto;
}

.mat-18 {
    font-size: 48px;
    margin: 0;
}

.form-login mat-icon {
    margin: 0 5px 0 0 !important;
}

::placeholder {
    color: grey;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: slategray;
        padding: 5px 5px;
        background-color: #99adc11b !important;
        width: 97.5%;
        border-radius: 1px;
    }

    .mat-form-field-label {
        color: slategray;
        padding: 0px 5px;
    }

    .mat-form-field-underline {
        background-color: slategray;
    }

    .mat-form-field-focused {
        background-color: slategray;
    }

    .mat-form-field-ripple {
        background-color: slategray;
    }

    .mat-form-field-required-marker {
        color: red;
        font-size: large;


    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #ff884d;
        font-size: medium;
    }

    .mat-form-field-ripple {
        background-color: #ff884d;
    }

    .mat-form-field-required-marker {
        color: red;
        font-size: 20px;
    }

    .mat-input-element {
        color: white;
    }
}
::ng-deep .mat-raised-button{
    letter-spacing: 2px;
    background-color: #673ab7;
    color: white;
}
::ng-deep .mat-raised-button:hover{
        background-color: #683ab7ce;
}

.footer {
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    border-radius: 50px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    color: white;
    padding: 20px;
    margin: 10px auto;
    height: auto;
    width: 50%;

}
