<div class="pt-5">
</div>
<div class="mt-5">
    <h5 class="font-weight-light">Categorias</h5>
</div>
<hr>
<div>
    <table class="table table-hover overflow-scroll">
        <thead style="background-color: #0d355e; color: white;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria ou Gênero</th>
                <th scope="colgroup" colspan="2" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody *ngFor="let category of categories">
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.genre}}</td>
                <td class="text-center"><a class="btn text-primary "
                        routerLink="/admin/update/{{category?.id}}/category">Editar</a></td>
                <td class="text-center"><button class="btn text-danger"
                        (click)="onDelete(category?.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>