<div class="pt-5 mt-5"></div>
<div class="title-manager col-5 p-0"
    style="display: flex; flex-direction: row; align-items: center; align-content: center">
    Admin > <h6 class="text-title" style="color: #2b7cce !important;">Configurações</h6>
</div>

<div ng-cloack>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="material-icons">list</i> Users
            </ng-template>
            <app-users-registered></app-users-registered>
        </mat-tab>
        <mat-tab label="Sistema"> Sistemas </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                {{getLoggedName()}}<i class="material-icons">lock_person</i> 
            </ng-template>
            <app-perfil></app-perfil>
        </mat-tab>
    </mat-tab-group>
</div>