<div class="pt-5 mt-5"></div>
<div class="col-5 p-0" class="all-books">
  <h2 class="title-manager" style="color: red;">{{admin}}<mat-icon class="mat-18">manage_accounts</mat-icon><b
      style="color: rgb(195, 195, 195);">/Configurações</b></h2>
</div>
<hr class="mt-2">
<div ng-cloack>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/admin/config">
          <i class="material-icons">home</i>
        </a>
      </ng-template>
      <div class="home-dashboard-admin">
        <h1>Home Admin Config</h1>
        <p class="welcome-sms"><a href="" class="m-0 p-0"> {{getLoggedName()}}</a>, &nbsp; seja bem-vindo/a ao dashboard de configurações do sistema</p>
        <b>Navegação:</b>
        <p ><i class="material-icons" >supervised_user_circle</i>Perfil do usuário logado</p>
        <p ><i class="material-icons" >sgroups</i> Usuários registados no sistema</p>
        <p ><i class="material-icons" >settings_suggest</i> Configurações avançadas</p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- {{getLoggedName()}} -->
        <a routerLink="logged/profile/:{{getLoggedName()}}">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="manager/users">
          <i class="material-icons">groups</i>
        </a>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template [ngOutletContext]="context" mat-tab-label>
        <a href="#">
          <i class="material-icons">settings_suggest</i>
        </a>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
  <router-outlet></router-outlet>
</div>
