
hr {
  padding: 0;
  margin: 0;
}

a {
  background-color: white;
}

a:hover {
  background-color: #efefefb4;
  text-decoration: underline;
}


mat-tab-group {
  background-color: white;

  .mat-tab-label {
    padding: 0;
  }

  a {
    color: blue !important;
    padding: 50px 80px;
    margin: 0 0;
    transition: all .4s ease-in-out;


  }
  a:hover {
    transition: all .4s ease-in-out;
  }

}
