<div class="pt-5"></div>
<h6 class="font-weight-light mt-5 ">Categorias > <small class="text-info"> <i class="font-weight-light"
            style="font-style: normal;">Livros </i> <b style="color: white;
            font-size: 13px; border: .1px solid red; border-radius: 50%; padding: .5px 3.5px;
            background-color: red;">{{qtdT}}</b>
    </small></h6>
<div class="mb-3 d-flex flex-wrap">
    <br>
    <div *ngFor="let category of categories" class="mr-4">
        <!-- href="/{{category.id}}/books" -->
        <a routerLink="/{{category.id}}/category" class="badge badge-light" style="color:#0d355e;">{{category.genre}}</a>
    </div>
</div>
<div class="text-center" *ngIf="books.length <= 0">
    <hr>
    <div class="text-center p-5 mt-5 mb-5 {{bgDanger}}">
        <h5 class="text-white font-weight-light">{{serverUnvaliable}}</h5>
    </div>
</div>
<div *ngFor="let book of books">
    <div class="card mb-4 p-2" style="background-color:#f6f2f1b8;">
        <div class="row g-0">
            <div class="col-md-2 mb-0 mr-4">
                <img src="{{book.imgUrl}}" alt="{{book.title}}" class="img-fluid rounded-start"
                    style="max-width: 200px; max-height: 100vh;">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title" hidden><b>#{{book.id}}</b></h5>
                    <h5 class="card-title">{{book.title}} </h5>
                    <hr>
                    <div class="d-flex flex-wrap">
                        <div class="mr-5">
                            <h6 class="font-weight-light">Ano de Lançamento</h6>
                            <p class="card-text text-muted">{{book.bookYear}} </p>
                        </div>
                        <div class="mr-5">
                            <h6 class="font-weight-light">Ediçao</h6>
                            <p class="card-text text-muted">{{book.edition}}a</p>
                        </div>
                        <div class="mr-5">
                            <h6 class="font-weight-light">Categoria</h6>
                            <p class="card-text" hidden>{{book.fkCategory}}</p>
                            <p class="card-text text-muted">{{book.genre}}</p>
                        </div>
                        <div>
                            <h6 class="font-weight-light">Editora</h6>
                            <p class="card-text text-muted">{{book.publisher}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-wrap mt-3">
                        <div class="mr-5">
                            <h6 class="font-weight-light">Autor do Livro</h6>
                            <p class="card-text" hidden>{{book.fkAuthor}}</p>
                            <p class="card-text text-muted">{{book.name}}</p>
                        </div>
                        <div class="">
                            <h6 class="font-weight-light">Nacionalidade</h6>
                            <p class="card-text text-muted">{{book.nationality}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div>
                            <h6 class="font-weight-light">Pequeno Resumo</h6>
                            <p class="card-text text-muted text-justify">{{book.shortSummary}}</p>
                        </div>
                    </div>
                    <hr>
                    <ul class="list-inline text-right">
                        <li class="list-inline-item mr-5"><a class="text-success" routerLink="/details/{{book.id}}/book">+
                                Detalhes</a>
                        </li>
                        <li class="list-inline-item mr-5"><a class="text-success"
                                routerLink="/addbook/{{book.id}}/reading-list">+ A minha List Leitura</a>
                        </li>
                        <li class="list-inline-item mr-5"><button class="text-primary">Editar</button></li>
                        <li class="list-inline-item mr-5"><button (click)="onDelete(book?.id)"
                                class="text-danger">Eliminar</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>