.container .card{
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    color: white;
}
.container h4{
    font-weight:500;color: white;
}
.container .form{
    /* background-color: #f6f2f1b8; */
    background-color: #f8f9fa;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-touched,
textarea.ng-valid,
input.ng-valid {
    border: 1px solid greenyellow;
}

span{
    color:red;
    font-size: 12px;
}
.bg-t-th-light-blue {
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    color: white;
}