<div class="pt-5 mt-5">
</div>
<div class="col-5 p-0" class="all-books">
  <h2 class="title-manager" style="color: red;">{{admin}}<mat-icon class="mat-18">manage_accounts</mat-icon><b
      style="color: rgb(195, 195, 195);">/Autor</b></h2>
</div>
<hr class="mt-2">

<div ng-cloack style="z-index: -1;">
  <mat-tab-group class="mat-elevation-z0">
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/admin/author"><i class="material-icons">home</i></a>
      </ng-template>
      <div class="home-dashboard-admin">
        <h1>Home Admin Autor</h1>
        <p class="welcome-sms"><a routerLink="" class="m-0 p-0"> {{getLoggedName()}}</a>, &nbsp;seja bem-vindo/a ao
          dashboard de configurações do Autor</p>
        <b>Navegação:</b>
        <p><i class="material-icons">list</i>Lista dos Autores disponíveis</p>
        <p><i class="material-icons">add_box</i>Adicionar novo Autor no sistema </p>
        <p><i class="material-icons">info</i> Informações avançadas da secção</p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="list"><i class="material-icons">list</i></a>
      </ng-template>

    </mat-tab>
    <mat-tab> <ng-template mat-tab-label>
        <a routerLink="create"><i class="material-icons">add_box</i></a>
      </ng-template>
    </mat-tab>
    <mat-tab label="Third">
      <ng-template mat-tab-label>
        <i class="material-icons">info</i>
      </ng-template>
      Mais...
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>
