hr{
    padding: 0;
    margin: 0;
}
a{
    background-color: white;
}
a:hover{
    background-color: #efefefb4;
    text-decoration: underline;
}
button{
    background-color: white;
}
button:hover{
    background-color: #efefefb4;
    text-decoration: underline;
}
tbody{
    background-color: #f8f9fa;
}