<div class="pt-0"></div>
<div class="container mt-0 mb-5">
  <div class="card mb-1">
    <div class="row g-3">
      <div class="col-md-12">
        <h3 class="card-title">
          <div  *ngIf="!authId">{{titleCreateAuthor}}</div>
          <div *ngIf="authId">{{titleUpdateAuthor}}</div>
        </h3>
    </div>
  </div>
</div>
<div class="pt-0 pb-1">
  <div class="col-md-12">
    <form class="form pt-3 pb-2" [formGroup]="authorForm">
      <div class="row pt-0 pl-3 pr-3 form-group">
        <div class="col-md-12" hidden>
          <label for="id" class="form-label">Id</label>
          <input type="text" id="id" name="id" class="form-control"
            placeholder="Ex: Artur Carlos Maurício Pestana dos Santos aka Pepetela" formControlName="id">
        </div>
        <div class="col-md-12">
          <label for="name" class="form-label">Nome do Autor</label>
          <input type="text" id="name" name="name" class="form-control"
            placeholder="Ex: Artur Carlos Maurício Pestana dos Santos aka Pepetela" formControlName="name" required>

        </div>
        <div class="col-md-6 mt-2">
          <label for="birthday" class="form-label">Data de Nascimento/Ano</label>
          <input type="text" name="birthday" id="birthday" class="form-control"
            placeholder="Ex: 'Outubro 29, 1941' / '1941'" formControlName="birthday">
        </div>
        <div class="col-md-6 mt-2">
          <label for="nationality" class="form-label">Nacionalidade</label>
          <input type="text" name="nationality" id="nationality" class="form-control"
            placeholder="Ex: Angolana / Angonalan" formControlName="nationality">
        </div>
        <div class="col-md-12 mt-2">
          <label for="status" class="form-label">Status do Autor</label>
          <textarea name="status" id="status" rows="2" class="form-control" maxlength="200" minlength="20"
            placeholder="Ex: Pepetela é um autor da literatura contemporânea angolanas... "
            formControlName="status"></textarea>
        </div>
      </div>
      <div class=" col-md-12 d-flex flex-wrap justify-content-end pb-3">
        <div *ngIf="!authId" class=" mt-1 mr-2 ">
          <button class="btn btn-primary" (click)="authorSubmit()">Salvar Autor</button>
        </div>
        <div *ngIf="authId" class=" mt-1 mr-2 ">
          <button class="btn btn-primary" (click)="updateAuthor()">Actualizar Autor</button>
        </div>
        <div class=" mt-1 mr-2">
          <button class="btn btn-danger" (click)="goToListAuthor()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<div class="margin-form_b"></div>
