<div class="pt-5"></div>
<div class="pt-2"></div>
<div class="mt-2 title"></div>
<div class="background">

  <mat-header class="header" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="row" class="header-icon">
      <mat-icon class="mat-18">add_reaction</mat-icon>
    </div>
  </mat-header>

  <mat-card class="signup">
    <mat-card-content>
      <form [formGroup]="form" class="form-signup" fxLayout.gt-md="column">
        <h3 class="title-header text-center">Criar Conta</h3>
        <mat-form-field>
          <mat-label>Digite um nome de usuário (ex. Jeo03)</mat-label>
          <mat-icon matPrefix mat18>person_add_alt_1</mat-icon>
          <input matInput placeholder="JeoAntunes03" type="text" name="login" id="login" formControlName="login"
            class="" required>
          <mat-error>ATENÇÃO: Campo vazio ou inválido. Por favor, verifique!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Digitar palavra-passe</mat-label>
          <mat-icon matPrefix mat18>lock_person</mat-icon>
          <input matInput type="password" name="password" id="password" formControlName="password" required>
          <mat-error>ATENÇÃO: Campo vazio ou inválido. Por favor, verifique!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmar palavra-passe</mat-label>
          <mat-icon matPrefix mat18>lock_person</mat-icon>
          <input matInput type="password" name="password-confirm" id="password-confirm"
            formControlName="passwordConfirm" required>
          <mat-error>ATENÇÃO: Campo vazio ou inválido. Por favor, verifique!</mat-error>
        </mat-form-field>
        <mat-error class="passwor-confirmation-sms" *ngIf="passCombineSms">Cofirmação Errada: Por Favor, verifique sua
          passe!</mat-error>
        <mat-form-field hidden>
          <mat-label>role</mat-label>
          <mat-icon matPrefix mat18>lock_person</mat-icon>
          <input matInput type="text" name="role" id="role" formControlName="role">
          <mat-error>ATENÇÃO: Campo vazio ou inválido. Por favor, verifique!</mat-error>
        </mat-form-field>
        <button mat-raised-button class="btn-success" (click)="register()">Cadastrar <mat-icon
            mat18>check</mat-icon></button>
        <div class="text-center mt-2 font-weight-light">
          <b>OBS:</b><a style="color: white; text-align: right;">
            Use caracteres especiais para fortalecer a palavra-passe!
          </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <a routerLink="/login" fxLayout="row" class="footer" fxLayoutAlign="space-around center">ENTRAR</a>
</div>

<div class="pt-4 mb-0"></div>
