<div class="pt-5 mt-5"></div>
<div class="title-manager col-5 p-0"
    style="display: flex; flex-direction: row; align-items: center; align-content: center">
    Admin > <h6 class=" text-muted text-title" style=" font-size: 14px;">Gerenciar de Livros</h6>/<h6
        class=" text-title" style="color: #2b7cce !important;">UploadFile</h6>
</div>
<div class="pt-0"></div>
<div class="container mt-0 mb-5">
    <div class="card first-card mb-3 p-2">
        <div class="col-md-12">
            <h4 class="card-title text-center p-2">
                <div>
                    {{titleUploadFile}}
                </div>
                <div *ngIf="fielId">
                    {{titleUpdateUploadFile}}
                </div>
            </h4>
        </div>
    </div>
    <div class="pt-0 pb-5">
        <form class="col-md-12">
            <!-- <input type="file" name="file" id="file" class="form-control" onchange="console.log(event.target.files)"
                            formControlName="file" hidden> -->
            <div class="file-upload">
                <input type="file" class="file-input" (change)="OnFileSelected($event)" #fileUpload>
                {{fileName || "Sem arquivo seleciondado ainda."}}
                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
            <div class="progress">
                <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                    *ngIf="uploadProgress"></mat-progress-bar>
                <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="
                uploadProgress">delete_forever</mat-icon>
            </div>
        </form>
    </div>
    <div class="">
        <h5 class="title">Arquivos Disponiveis</h5>
    </div>
    <div class="box">
        <div class="card second-card   mt-3 mb-2 ml-1 mr-1" *ngFor="let file of files">
            <div class="card-body">
                <div>
                    <h5 class="card-title"><b>#{{file.id}}</b></h5>
                    <h5 class="card-title">{{file.fileName}} </h5>
                </div>
                <hr>
                <p class="card-text text-muted">{{file.fileType}} </p>
            </div>
        </div>
    </div>
   
</div>
<div class="margin-form_b"></div>