.title-manager h6{
    background-color: solid rgb(215, 215, 215);
    padding: 5px;
    text-decoration: underline;
}
.container .first-card{
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    color: white;
    margin-top: 25px;
}
.container h4{
    font-weight:500;color: white;
}
.container .form{
    /* background-color: #f6f2f1b8; */
    background-color: #f8f9fa;
}
.margin-form_b{
    margin-top: 0px;
}
.file-input{
    display: none;
}
button{
    background: -webkit-gradient(linear, left top, right top, from(#1e72c7), to(#0d355e));
    background: linear-gradient(to right, #0d355e, #1e72c7);
    color: white;
}
.box{
    width:100%;
    height: 235px;
    overflow-y: auto;
    padding: 0px 20px ;
    border-top: 10px solid #1e72c7;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.second-card{
    border: 1px solid #1e72c7;
}
hr{
    background-color: #1e72c7;
}
