.card{
    /* border-radius: 5px !important; */
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08) !important;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08) !important;
    border: 0px solid none !important;
    border-bottom: 5px solid #1e72c7;
}
.row .author-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    /* background-color: #f6f2f1b8; */
    /* background-color: #f8f9fa; */
}
.card-imgUrl{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /* background-color: #f8f9fa; */
}

.row .book-card {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    /* background-color: #f8f9fa; */
}


.row .card-short_summary {
    border-radius: 0;
    /* background-color: #f8f9fa; */
}
.row .card-long_summary {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /* background-color: #f8f9fa; */
}